@media(max-width:640px){
    .boton-menu{
        margin-bottom: 5px;
        background-color: black;
        width: 30px;
        height: 5px;
    }
}
.aes{
    background-color: brown;
    overflow: hidden;
    transition: 6s;
}
.aes a{
    display: block;
    text-decoration: none;
   
   
}