@media(max-width:640px){
.boton-menu{
        margin-bottom: 5px;
        background-color: black;
        width: 30px;
        height: 5px;
}
.aes{
   /* background-color: brown;*/
    overflow: hidden;
    transition: 2s;
    transition-timing-function: ease;
    height: 0;
}
.aes a{
    display: block;
    text-decoration: none;
    
}
.flex{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.flex-1{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.bloque-sin-lineas a{
    display: block;
    text-decoration: none;
    padding: 0 80px;
}
.borrar-lineas{
    padding-left: 20px;
}
.borrar-lineas a{
    text-decoration: none;
    font-size:17px ;
    padding: 0 7px;
}
.tipo-de-letra-titulo {
    font-family: 'Italiana', serif;
    font-size: 50px;
}
.flex-2{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
    
}
}
